# Add the maintainers who own licensing and publication before enabling imports.
# /catalogs/*/*/manifest.json @your-maintainer
# /catalogs/*/*/LICENSES/ @your-maintainer
# /.github/workflows/ @your-maintainer
